 .home {
    margin: 0 auto;
    overflow: hidden;
    box-sizing: border-box;
    position: relative;
    font-family: "Montserrat", sans-serif;
  }

  .home .hero{
    box-sizing: border-box;
    width: 100%;
    justify-content: space-between;
    background-image: url(../assets/bd.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  
  /* .hero .text {
    color: #ff4867;
    display: flex;
    padding: 10px 15px ;
    align-items: end;
    justify-content: space-between;
  }
  .text h1 {
    font-weight: 700;
    text-transform: uppercase;
    font-family: "Young Serif", sans-serif;
    font-size: 2.5em;
    line-height: 100%;
    width: 30%;
}

.text p {
    font-size: 13px;
    line-height: 100%;
    text-transform: capitalize;
    text-align: right;
}

.text p span {
    font-weight: 600;
} */

.hero .bg {
    height: 92vh;
    border-radius: 7px;
    background-size: cover;
}
.bg img {
  object-fit: cover;
  height: 100%;
  width: 100%;
  object-position: center;
}

main {
  box-sizing: border-box;
  padding: 15px;
  background-image: url(../assets/bd.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

@media (max-width: 600px) {
  .hero .text {
    flex-direction: column;
    align-items: start;
    gap: 10px;
  }
  .text p {
    align-self: flex-end;
  }
    .hero .bg {
      height: 130vw;
      min-height: 95vh;
    }
}