.message {
    width: 100%;
    color: var(--accentColor);
    box-sizing: border-box;
    padding: 30px 0;
    font-family: "Montserrat", sans-serif;
}

.message h1 {
    font-size: 30px;
    font-family: "Young Serif", sans-serif;
    width: 50%;
    text-transform: uppercase;
}

.message .message-box {
    border: 1px solid var(--accentColor);
    max-width: 100%;
    margin: 0 auto;
    margin-top: 20px;
    border-radius: 10px;
    background-color: var(--borderColor);
    overflow: hidden;
}

.message-box img {
    object-fit: cover;
    max-width: 100%;
    max-height: 70vh;
    margin: 0 auto;
    display: block;
    object-position: center;
}

@media (max-width:600px) {
    .message h1 {
        width: 100%;
        font-size: 27px;
        margin-bottom: 10px;
    }
    /* .message .message-box {
        width: 100%;
    }
    .message-box img {
        width: 100%;
    } */
}